#footer {
    /* Posicionar */
    right: 0;
    bottom: 0;
    position: fixed;

    /* Ajustar tamaño */
    width: fit-content;
    height: fit-content;

    /* Redondear */
    border-radius: 100%;

    /* Color de fondo */
    background-color: lightgreen;
    
    /* Otros */
    user-select: none;
}
#footer p {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
